.disc-name-avatar{
    border-radius: 10%;
    border: 3px solid black;
}

.high-speed-driver{
    border-color: red;
}

.fairway-driver{
    border-color: orange;
}

.midrange{
    border-color: blue;
}

.putter{
    border-color: green;
}

.header-margins{
    margin-top: 0;
    margin-bottom: 0;
}

hr{
    background-color: red;
    margin-top: 0;
    margin-bottom: 10px;
}